/* app css stylesheet */

.row-eq-height {
  display: flex;
  border: 1px solid;
  background: #d9edf7;
  border-radius: 4px;
}

.row-eq-height > div {
  align-self: center;
}
.result-list {
  padding-top: 30px;
}
.home {
  background-image: url(images/background.jpg);
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
}
.welcome {
  margin-top: 20%;
  margin-left: 30%;
  color: #ECEBE3;
}
.btn-primary {
  margin-left: 200px;
  background-color: #122b40;
  border-color:black;

}
.btn-primary  a {
  color: #ECEBE3;
  text-decoration:none;
}

