<div class="container" class="form-control" ng-controller="checkWeatherController">
     <div class="search">
         <div class="row">
             <div class="col-sm-3">
                 <input type="text" id="Autocomplete" ng-model="search" class="form-control" city-autocomplete="search" details="details" options="options"/>
             </div>
             <div class="col-sm-2">
                 <button class="btn btn-success" ng-click="addMarker(search)" >Добавить город</button>
             </div>
             <div class="col-xs-5 ">
                 <span>Сколько городов вы хотите посетить?</span>
             </div>
             <div class="col-xs-2 lastInput">
                 <input type="number" class="form-control" placeholder="Rows number" ng-model="itemNumber">

             </div>

         </div>
     </div>

    <div class="result-list">

        <div class="row" ng-repeat="result in results" ng-class-odd="'odd'" ng-class-even="'even'">
            <div class="col-sm-3"><h4>{{result.name}}</h4></div>
            <div class="col-sm-3">
                <a href="" ng-click="shownWeather = !shownWeather" class="btn btn-success" ng-hide="shownWeather">Проверить погоду</a>
                <div class="weather"  ng-show="shownWeather">
                    <h4>{{result.temp}}°C {{result.description}}</h4>
            </div>
            </div>

            <div class="col-sm-3">
                <button class="btn btn-success">Куда можно сходить?</button>
            </div>


        </div>
    </div>
    <ui-gmap-google-map center="map.center" zoom="map.zoom" events="map.events">
        <ui-gmap-marker ng-repeat="m in map.markers" coords="m.coords" idkey="m.id"></ui-gmap-marker>
    </ui-gmap-google-map>
</div>